@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

button {
  color: $white;
  border-radius: 10px;
  padding: 0.5rem;
  box-shadow: 0 6px $greyShadow;
  outline: none;
  &.short {
    width: 4rem;
  }
  &.medium {
    width: 8rem;
  }
  &.large {
    width: 12rem;
  }
  &.orange {
    @include colorBtn($orange);
  }
  &.lighter-green {
    @include colorBtn($lighter-green);
  }
  &.light-green {
    @include colorBtn($light-green);
  }
  &.dark-green {
    @include colorBtn($dark-green);
  }
  &.light-grey {
    @include colorBtn($light-grey);
  }
  &.dark-grey {
    @include colorBtn($dark-grey);
  }
  &.disabled {
    @include disabledBtn;
  }
}
