@use 'variables';

body {
  margin: 0;
  background-color: variables.$lighter-green;
  font-size: 26px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  font-size: 1.5rem;
}
