@use './variables';

@mixin colorBtn($color) {
  background-color: $color;
  border: 1px solid rgba($color, $alpha: 0.4);
  &:hover {
    background-color: darken($color, 4%);
  }
  &:active {
    background-color: darken($color, 4%);
    box-shadow: 0 2px variables.$greyShadow;
    transform: translateY(4px);
  }
}

@mixin disabledBtn {
  border: 1px solid variables.$greyShadow;
  background-color: variables.$disabledBg;
  color: variables.$disabledColor;
  &:hover {
    border: 1px solid variables.$greyShadow;
    background-color: variables.$disabledBg;
    color: variables.$disabledColor;
  }
}

@mixin colorLabel($color) {
  .form-control {
    &:focus,
    &.has-value {
      border-color: $color;
      transition: all 0.2s ease-out;
      + label {
        color: $color;
      }
    }
    &.has-value:not(:focus) + label {
      color: rgba($color, $alpha: 0.6);
    }
  }
}

@mixin colorInput($color) {
  .form-field {
    .form-control {
      border-color: $color;
    }
    label {
      color: $color;
    }
  }
}
