@use '../../styles/variables';

nav {
  color: variables.$white;
  font-weight: 500;
  box-shadow: -5px 10px 5px variables.$greyShadow;
  min-height: 4rem;
  font-size: 1.2rem;
  font-weight: 700;
  background-color: variables.$light-green;
  border-bottom: 1px solid darken(variables.$light-green, 5%);
  .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    .logo {
      flex-grow: 1;
      text-align: center;
      a {
        text-decoration: none;
        color: variables.$white;
      }
    }
    .navMenu {
      flex-grow: 8;
      ul {
        display: flex;
        list-style: none;
        li {
          margin: 0 1.2rem;
          cursor: pointer;
          a {
            color: variables.$white;
            text-decoration: none;
            &:hover {
              color: variables.$orange;
              padding-bottom: 1.2rem;
              border-bottom: 3px solid variables.$orange;
            }
            &.active {
              color: variables.$orange;
              padding-bottom: 1.2rem;
              border-bottom: 3px solid variables.$orange;
            }
          }
        }
      }
    }
  }
}
